<div class="newPostForm">
    <h1>Add a new Post</h1>
    <form id="form" method="post">
        <input type="text" id="title" placeholder="Title" required />
        <input type="text" id="content" placeholder="Content" required />
        <input type="date" id="date" placeholder="Date" required />
        <div class="radioButtons">
            <input type="checkbox" value="work" id="work" name="postTag" />
            <label for="Work">Work Trip</label>
            <input type="checkbox" value="leisure" id="leisure" name="postTag" />
            <label for="Leisure">Leisure</label>
            <input type="checkbox" value="holiday" id="holiday" name="postTag" />
            <label for="Holiday">Holiday</label>
        </div>
        <input type="text" id="author" placeholder="Author" required />
        <input type="submit" value="Add Post" required />
    </form>
    <div class="buttons">
        <button class="button" id="cancel" routerLink="/home">Cancel</button>
        <button class="button" id="update">Update</button>
        <button class="button" id="delete">Delete</button>
    </div>
</div>