<section class="holiday-posts">
    <div class="container">
        <div class="section-content flex-container">
            <div class="holiday-image">
                <img src="assets/images/city-1.jpg" alt="#">
                <div class="holiday-post-details">
                    <div class="tags">
                        <ul>
                            <li class="zoom zoom-transition"><a href="#">Lorem</a></li>
                            <li class="zoom zoom-transition"><a href="#">Lorem</a></li>
                            <li class="zoom zoom-transition"><a href="#">Lorem</a></li>
                        </ul>
                    </div>
                    <div class="image-text">
                        <h3>Lorem Ipsum</h3>
                    </div>
                    <div class="image-date">
                        <a href="#"><span class="post-date"></span>21 July, 2020</a>
                    </div>
                </div>
            </div>
            <div class="holiday-image">
                <img src="assets/images/city-2.jpg" alt="#">
                <div class="holiday-post-details">
                    <div class="tags">
                        <ul>
                            <li class="zoom zoom-transition"><a href="#">Lorem</a></li>
                            <li class="zoom zoom-transition"><a href="#">Lorem</a></li>
                            <li class="zoom zoom-transition"><a href="#">Lorem</a></li>
                        </ul>
                    </div>
                    <div class="image-text">
                        <h3>Lorem Ipsum</h3>
                    </div>
                    <div class="image-date">
                        <a href="#"><span class="post-date"></span>21 July, 2020</a>
                    </div>
                </div>
            </div>
            <div class="holiday-image">
                <img src="assets/images/city-3.jpg" alt="#">
                <div class="holiday-post-details">
                    <div class="tags">
                        <ul>
                            <li class="zoom zoom-transition"><a href="#">Lorem</a></li>
                            <li class="zoom zoom-transition"><a href="#">Lorem</a></li>
                            <li class="zoom zoom-transition"><a href="#">Lorem</a></li>
                        </ul>
                    </div>
                    <div class="image-text">
                        <h3>Lorem Ipsum</h3>
                    </div>
                    <div class="image-date">
                        <a href="#"><span class="post-date"></span>21 July, 2020</a>
                    </div>
                </div>
            </div>
            <div class="holiday-image">
                <img src="assets/images/city-4.jpg" alt="#">
                <div class="holiday-post-details">
                    <div class="tags">
                        <ul>
                            <li class="zoom zoom-transition"><a href="#">Lorem</a></li>
                            <li class="zoom zoom-transition"><a href="#">Lorem</a></li>
                            <li class="zoom zoom-transition"><a href="#">Lorem</a></li>
                        </ul>
                    </div>
                    <div class="image-text">
                        <h3>Lorem Ipsum</h3>
                    </div>
                    <div class="image-date">
                        <a href="#"><span class="post-date"></span>21 July, 2020</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>