/*HOLIDAYS*/
.holiday-posts .section-content img {
    max-width: 100%;
}

.holiday-image {
    padding: 10px;
}

.holiday-posts .tags li {
    display: inline-block;
    background: #ad0d0d;
    padding: 4px 8px;
    margin: 2px;
}

.holiday-posts .image-text h3,
.holiday-posts {
    font-size: 1rem;
}

.holiday-posts .tags li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem
}

.holiday-posts .holiday-post-details {
    display: block;
    position: absolute;
    max-width: auto;
    top: 50%;
    color: #fff;
    padding-left: 20px;
    line-height: 0.5em;
}

.holiday-posts .holiday-post-details .image-date a {
    font-size: 0.8rem;
    text-decoration: none;
    color: #fff;
}

.holiday-posts .holiday-image {
    position: relative;
}

@media screen and (max-width: 980px) {
    .holiday-posts .image-text h3,
    .holiday-posts {
        font-size: 1.6rem;
    }

    .holiday-posts .tags li a {
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
    }

    .holiday-posts .holiday-post-details .image-date a {
        font-size: 1rem;
    }

    .holiday-posts .holiday-post-details {
        top: 50%
    }
}