/* GENERAL SETTINGS */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
}

ul {
    padding-left: 0;
}

h1,
h2,
h3,
p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.container {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1140px;
}

.flex-container {
    display: flex;
}

.row {
    display: flex;
}

/* ANIMATION */
.zoom-transition {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.column-left .main-posts img:hover,
.column-right .latest-posts img:hover,
.holiday-posts .section-content img:hover {
    opacity: .8;
    cursor: pointer;
}

.holiday-posts .section-content img,
.column-left .main-posts img,
.column-right .latest-posts img {
    transition: 0.3s;
}
/*General responsive */
@media screen and (max-width: 980px) {
    .row {
        display: block;
    }

    .flex-container {
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 700px) {
    .tags {
        font-size: 0.8rem
    }
}

@media screen and (max-width: 460px) {

    .tags {
        font-size: 0.45rem;
    }
}
