<div class="newPostForm">
    <h1>Add a new Post</h1>
    <form id="form" method="post" [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <input type="text" formControlName="title" id="title" placeholder="Title" required />
        <input type="text" formControlName="content" id="content" placeholder="Content" required />
        <div class="radioButtons">
            <label *ngFor="let singletag of tags; let i = index">
                <input type="checkbox" [value]="singletag.value" (change)="onCheckboxChange($event)" />
                {{ singletag.name }}
            </label>
        </div>
        <input type="text" formControlName="author" id="author" placeholder="Author" required />
        <button class="button" type="submit" [disabled]="!myForm.valid">Submit</button>

    </form>
    <div class="buttons">
        <button class="button" id="cancel" routerLink="/home">Cancel</button>
    </div>
</div>