<section class="hero">
    <div class="container ">
        <h1>Lorem ipsum</h1>
    </div>
</section>
<section class="hero-bottom-nav">
    <div class="container flex-container">
        <nav class="bottom-nav-left">
            <ul class="flex-container">
                <li *ngFor="let bottomnav of bottomnavs; let i = index"><a routerLink="{{bottomnav.routerLink}}">{{ bottomnav.name }}</a></li>
            </ul>
        </nav>
        <nav class="bottom-nav-right">
            <div class="flex-container">
                <label for="top-search">
                    <input id="top-searh" type="text" placeholder="Search..">
                </label>
            </div>
        </nav>
    </div>
</section>