<section class="general-info">
  <div class="container flex-container">
    <div class="row">
      <div class="column">
        <h2>Lorem Ipsum</h2>
        <ul>
          <li *ngFor="let columninfo of column1">
            <a href="#">{{ columninfo.name }}</a>
          </li>
        </ul>
      </div>
      <div class="column">
        <h2>Lorem Ipsum</h2>
        <ul>
          <li *ngFor="let columninfo of column1">
            <a href="#">{{ columninfo.name }}</a>
          </li>
        </ul>
      </div>
      <div class="column">
        <h2>Lorem Ipsum</h2>
        <div>
          <label for="bottom-search">
            <input type="text" id="bottom-searchbar" placeholder="Search.." />
          </label>
        </div>
      </div>
    </div>
  </div>
</section>
