<section class="general-posts">
    <div class="container flex-container">
        <div class="row">
            <div class="column-left" id="mainPosts">
                <div class="container-header">
                    <h2><span id="title">Lorem Ipsum</span></h2>
                </div>
                <button class="button zoom zoom-transition">
                    <a routerLink="/form">Add Post</a></button>
            </div>
            <div class="column-right">
                <h2>Lorem Ipsum</h2>
                <div class="latest-posts">
                    <img src="assets/images/city-1.jpg" alt="#">
                    <div class="latest-posts-details">
                        <div class="latest-posts-topic">
                            <h3>Lorem Ipsum</h3>
                        </div>
                        <div class="latest-posts-date">
                            <a href="#"><span class="post-date"></span>21 July, 2020</a>
                        </div>
                    </div>
                </div>
                <div class="latest-posts">
                    <img src="assets/images/city-1.jpg" alt="#">
                    <div class="latest-posts-details">
                        <div class="latest-posts-topic">
                            <h3>Lorem Ipsum</h3>
                        </div>
                        <div class="latest-posts-date">
                            <a href="#"><span class="post-date"></span>21 July, 2020</a>
                        </div>
                    </div>
                </div>
                <div class="latest-posts">
                    <img src="assets/images/city-1.jpg" alt="#">
                    <div class="latest-posts-details">
                        <div class="latest-posts-topic">
                            <h3>Lorem Ipsum</h3>
                        </div>
                        <div class="latest-posts-date">
                            <a href="#"><span class="post-date"></span>21 July, 2020</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>