.newPostForm {
    padding: 2em;
    margin: auto;
    max-width: 30em;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

#form {
    max-width: 500px;
}

.button {
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9em;
    margin: 0.4em;
    padding: 0.5em;
}

.contact-table {
    margin-top: 2em;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid;
    text-align: left;
}

.buttons,
.radioButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
}

.buttons #cancel, .buttons #submit {
    background-color: #888888;
    width: 150px;
    height: 50px;
    border-radius: 5px;
}

.button:hover {
    cursor: hover;
}

input {
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9em;
    margin: 0.4em;
    padding: 0.5em;
}

.buttons #delete,
.buttons #update {
    width: 150px;
    height: 50px;
    border-radius: 5px;
}

.buttons #update {
    background-color: #5086b4;
}

.buttons #delete {
    background-color: #ad0d0d;
}
