<div class="newPostForm">
    <h1>Add a new Post</h1>
    <form id="form" method="post" [formGroup]="editPost" >
        <input type="text" formControlName="title" id="title" placeholder="Title" required />
        <input type="text" formControlName="content" id="content" placeholder="Content" required />
        <div class="radioButtons">
            <input type="checkbox" value="work" id="work" name="postTag" />
            <label for="Work">Work Trip</label>
            <input type="checkbox" value="leisure" id="leisure" name="postTag" />
            <label for="Leisure">Leisure</label>
            <input type="checkbox" value="holiday" id="holiday" name="postTag" />
            <label for="Holiday">Holiday</label>
        </div>
        <input type="text" formControlName="author" id="author" placeholder="Author" required />
    </form>
    <div class="buttons">
        <button class="button" id="update" (click)="updatePost()">Update</button>
        <button class="button" id="cancel" routerLink="/home">Cancel</button>
        <button class="button" id="delete" (click)="deletePost()">Delete</button>
    </div>
</div>