    <header class="site-header">
        <div class="container flex-container">
            <nav class="main-nav-left">
                <ul class="flex-container">
                    <li><a routerLink="">Blog</a></li>
                    <li><a routerLink="">Latest</a></li>
                    <li><a routerLink="/life">Life</a></li>
                    <li><a routerLink="">Travel</a></li>
                    <li><a routerLink="">Fashion</a></li>
                </ul>
            </nav>
            <nav class="main-nav-right">
                <ul class="flex-container">
                    <li><a routerLink=""><i class="facebook"></i></a></li>
                    <li><a routerLink=""><i class="twitter"></i></a></li>
                    <li><a routerLink=""><i class="pinterest"></i></a></li>
                    <li><a routerLink=""><i class="youtube"></i></a></li>
                    <li class="todaysdate">
                        <p><span id="todaysdate">{{ currentDate }}</span></p>
                    </li>
                </ul>
            </nav>
            <div class="dropdown">
                <i class="burgerdropdown dropdownbars"></i>
                <div class="dropdown-content">
                    <a routerLink="">Blog</a>
                    <a routerLink="">Latest</a>
                    <a routerLink="/life">Life</a>
                    <a routerLink="">Travel</a>
                    <a routerLink="">Fashion</a>
                </div>
            </div>
        </div>
    </header>